*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    position: relative;
    /* background-color: rgb(255, 255, 253); */
    background-image: url(https://www.bing.com/images/search?view=detailV2&ccid=oFn3czTq&id=80173F953F68F9DBB8B5246FA7DB8D0E2150298C&thid=OIP.oFn3czTqH6X3BZCfvZVflAHaNK&mediaurl=https%3a%2f%2fw0.peakpx.com%2fwallpaper%2f762%2f58%2fHD-wallpaper-particles-edges-background-edge-fire-frame-magical-neon-orange-particle-shine-sparkle.jpg&exph=1422&expw=800&FORM=IRPFED&ck=33CEFE3825A9212BBD2857DED05FA7B6&reqid=37A89F4800034B158615DBC360C06567&selectedIndex=60&itb=0&idpp=insfeed);
}

/* Global CSS */
.obj-width{
    max-width: 1200px;
    margin: auto;
}
.Navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
}

nav{
    background-color: #2d4c50;
    box-shadow: 0 7px 10px rgb(0 0 0 0.3);
}

.Navbar a {
    color: white;
    text-decoration: none;
    font-size: 2.2rem;
    letter-spacing: 2px;


}

#search-input{
    max-width:400px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #333;
}

#search-button{
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #138065;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #ffffff;
}
/* #blog-container{
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    padding: 12px;
    margin: 10px;
    border-radius: 5px;
}
.image{
    border: 2px solid black;
    
    width:140px;
    height: 140px;

}
.content{
    
    width:140px;
    height: fit-content;
    justify-content:space-around;
} */

#blog-container{
    padding: 3rem 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    /* background-color: rgb(209, 173, 173); */
}

.blog-card{
    width: 200px;
    border: 2px solid rosybrown ;
    border-radius: 10px;
    cursor: pointer;
    margin: 15px ;
    padding: 10px;
    background: #f1f0f0;
}

.blog-card:hover{
    box-shadow: 4px 4px 10px ;
}

.blog-card img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 5px;
    margin-bottom:1rem ;
}
.blog-card h2{
    color: #141414;
    font-size: 1.2rem;
    font-weight: 700;
}
.blog-card p{
    font-size: 1.2rem;
    padding-top: 0.7rem;
}

@media(max-width: 500px){
    nav{
        padding: 0 20px;
    }

    .Navbar a {
        font-size: 1.8rem;
    }
    #search-input {
        width: 150px;
        padding: 10px 10px;
    }
    .blog-card {
        width: 100%;
        
    }
}